{% extends "base.html" %}
{% block title %}{{ block.super }} - Blog{% endblock %}
{% block page_id %}page-blog{% endblock %}

{% block content_header %}
    <h1><a href="{% url "blog" %}">Blog</a></h1>
    <p>My various publications</p>
{% endblock %}

{% block content %}
    <section id="blog">
        {% for page in all_ipynb_pages %}
            <article class="blog-post">
                <a href="{{ page.url }}">{% if page.metadata.publisher.title %}{{ page.metadata.publisher.title }}{% else %}{{ page.title }}{% endif %}</a>
                <p>{{ page.metadata.publisher.short }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}