{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }} - Home{% endblock %}
{% block page_id %}page-home{% endblock %}

{% block content_meta %}
    <div class="jumbotron"></div>

    <div id="profile">
        <div id="profile-avatar">
            <img src="{% static "img/portrait.jpg" %}"/>
        </div>

        <div id="profile-description">
            <h1>Michał Lech</h1>

            <h3>Senior Python / Django Developer</h3>
        </div>
    </div>

{% endblock %}

{% block content_header %}
    I've had a chance to work with and learn from amazing people throughout my career,<br/>
    I always try to bring a breath of fresh ideas to any team I work with.<br/>
    <br/>
    If you would like to find out more <a href="https://www.linkedin.com/in/rootxnetdjango/" target="_blank">about me</a>, view what I have
    been <a href="http://github.com/rootxnet/">working on</a> lately or just drop me a line @
    <span class="enc-email" data-user="lahcim"
          data-domain="ofni.hcellahcim"><!-- No offense, it's against these pesky bots... --></span> or use <a href="{% url "contact" %}">contact form</a>.
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="about-me">
            <div class="col-md-6">
                <h2>I've seen some stuff..</h2>

                <ul id="profile-experience">
                    <li>
                        <div class="date">2009 - Nov 2022</div>
                        <h3>RooTXNET</h3>
                        <h4>Team Leader, Software Architect</h4>

                        <p>
                            Lead a team of seven software engineers, maintained communication, quality standards and SOPs.
                            <br/>
                            <br/>
                            Managed Research and Development for internal and external clients.
                            <br/>
                            <br/>
                            Maintained a high pace of knowledge and skill acquisition within a team to keep up with growing demands of company customers.
                            <br/>
                            <br/>
                            Worked on client acquisition and customer relations.
                            <br/>
                            <br/>
                            Worked on Software Architecture, Cost Analysis and DevOps.
                            <br/>
                            <br/>
                            Gave lectures on advanced Python programming in finance.
                            <br/>
                            <br/>
                            Worked on a number of personal projects dealing with Machine Learning, data analysis,
                            financial data aggregation and processing.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>Django</li>
                            <li>Django Rest Framework</li>
                            <li>Airflow</li>
                            <li>React / React Native</li>
                            <li>AngularJS / Angular</li>
                            <li>AWS</li>
                            <li>Docker / Kubernetes</li>
                            <li>Machine Learning</li>
                        </ul>
                    </li>
                    <li>
                        <div class="date">2015 - 2018</div>
                        <h3>4GClinical</h3>
                        <h4>Senior Software Engineer</h4>

                        <p>
                            While working with team of scientists, designed and developed proof of concept of
                            randomization and clinical trial supply management software (RTSM) under very tight schedule.
                            <br/>
                            <br/>

                            Created software and infrastructure architecture while working with domain experts,
                            enabling rapid start of final product development.
                            <br/>
                            <br/>
                            
                            Adjusted and maintained scalable infrastructure and software architecture, relying on
                            application containerization, SOA patterns and clean API design enabling software
                            evolution in Agile workflow.
                            <br/>
                            <br/>
                            
                            Designed robust and secure permission and authorization system resilient to patient
                            unblinding and other security concerns, compliant with FDA regulations.
                            <br/>
                            <br/>
                            
                            Created web based clinical trial specification editor, designed real time communication
                            workflow with underlying asynchronous, task-oriented backend using WebSockets and
                            Celery/Redis cluster.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>Django</li>
                            <li>jQuery</li>
                            <li>Celery</li>
                            <li>AngularJS</li>
                            <li>Docker</li>
                            <li>AWS</li>
                            <li>Django Rest Framework</li>
                            <li>NLTK</li>
                        </ul>
                    </li>
                    <li>
                        <div class="date">2013 - 2015</div>
                        <h3>LaterPay GmbH</h3>
                        <h4>Senior Software Developer</h4>

                        <p>
                            Built software components used in financial transactions with emphasis on scalability and performance.
                            Worked on API design and web security.
                            Took part in hiring process and rigorous code review sessions.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>Django</li>
                            <li>Tornado</li>
                            <li>Django Rest Framework</li>
                            <li>PostgreSQL</li>
                            <li>Celery</li>
                            <li>Redis</li>
                            <li>Cassandra</li>
                            <li>Sphinx</li>
                        </ul>
                    </li>
                    <li>
                        <div class="date">2013</div>
                        <h3>ITKontrakt</h3>
                        <h4>Team Leader</h4>

                        <p>
                            Implemented Agile workflow for a team of remote Django developers.
                            Enforced code quality, code review rules, coordinated work of the
                            team and maintained communication with the customer.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>Django</li>
                            <li>Django Rest Framework</li>
                        </ul>
                    </li>
                    <li>
                        <div class="date">2012 - 2013</div>
                        <h3>Modasphere</h3>
                        <h4>Software Developer</h4>

                        <p>
                            Worked on expanding e-commerce capabilities, integrated payment processors
                            with internal billing system. Created a Python based API to communicate with
                            external invoicing software. Designed multiple Bash and Django management
                            tools to deal with big data related tasks.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>Django</li>
                            <li>XML</li>
                            <li>Celery</li>
                            <li>jQuery</li>
                        </ul>
                    </li>
                    <li>
                        <div class="date">2011 - 2013</div>
                        <h3>Sportup.tv</h3>
                        <h4>Web Developer</h4>

                        <p>
                            Created real-time social networking functionality, implemented web layout,
                            administrative area. Implemented architectural changes to optimize
                            performance and improve scaling, maintained cloud based architecture.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>Django</li>
                            <li>Celery</li>
                            <li>MongoDB</li>
                            <li>jQuery</li>
                        </ul>
                    </li>
                    <li>
                        <div class="date">2009 - 2012</div>
                        <h3>Infokioski.pl</h3>
                        <h4>Software Developer</h4>

                        <p>
                            Did research, co-implemented and optimized Machine Learning algorithms used to recognize
                            user gestures on big format touch screens.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>Pascal</li>
                            <li>TUIO</li>
                            <li>Computer Vision</li>
                        </ul>

                        <h4>Lead Software Developer</h4>

                        <p>
                            Designed, created and implemented enterprise class Digital Signage solution with strong
                            emphasis on stability and security. Customers have access to remote real-time monitoring,
                            administrative console, Active Directory management, grouping, scripting and automatic
                            updates of all connected devices.
                        </p>

                        <ul class="tech">
                            <li>Python</li>
                            <li>C#</li>
                            <li>C++</li>
                            <li>Java</li>
                            <li>Django</li>
                            <li>REST API</li>
                            <li>PostgreSQL</li>
                            <li>Active Directory</li>
                            <li>Celery</li>
                            <li>Ubuntu</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h2>Skills</h2>

                <ul class="profile-skills">
                    <li>
                        <h3>Transferrable skills:</h3>
                        <ul class="tech">
                            <li>Remote working</li>
                            <li>Agile</li>
                            <li>Kanban</li>
                            <li>Scrum</li>
                            <li>Software Architecture</li>
                            <li>Team Leadership</li>
                        </ul>
                    </li>
                </ul>

                <ul class="profile-skills">
                    <li>
                        <h3>Tools:</h3>
                        <ul class="tech">
                            <li>JIRA</li>
                            <li>Jenkins</li>
                            <li>ELK</li>
                            <li>Docker</li>
                            <li>AWS</li>
                            <li>Kubernetes</li>
                            <li>TerraForm</li>
                            <li>CloudFormation</li>
                        </ul>
                    </li>
                </ul>

                <h2>Education</h2>

                <ul class="profile-skills">
                    <li>
                        <div class="date">2012 - 2014</div>
                        <h3>Warsaw University of Technology</h3>

                        <p>Electronics and Computer Engineering.</p>
                    </li>
                    <li>
                        <div class="date">2006 - 2009</div>
                        <h3>Białystok University of Technology.</h3>

                        <p>Computer Science</p>
                    </li>
                    <li>
                        <h3>Courses</h3>

                        <p>Application design using UML notation.</p>

                        <p>Java programming.</p>

                        <p>Java programming (SCJP).</p>

                        <p>Zend Framework - Web application engineering.</p>

                        <p>…(multiple EDX, Coursera, Udacity online courses)</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
