{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }} - Blog - {% if page.metadata.publisher.title %}{{ page.metadata.publisher.title }}{% else %}{{ page.title }}{% endif %}{% endblock %}
{% block page_id %}page-blog{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "css/ipynb.css" %}">

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<!-- MathJax configuration -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
</script>
{% endblock %}

{% block content_header %}
    <a href="{{ page.url }}">
        <h2>{% if page.metadata.publisher.title %}{{ page.metadata.publisher.title }}{% else %}{{ page.title }}{% endif %}</h2>
    </a>
    <p>{{ page.metadata.publisher.short }}</p>
{% endblock %}

{% if page.metadata %}
{% block content_header_extra %}
    <ul class="ipynb-metadata">
    <li>{% if page.metadata.language_info.version %}Language: <b>Python {{ page.metadata.language_info.version }}</b>{% endif %}</li>
    <li>{% if page.metadata.language_info.codemirror_mode.version %}IPython: <b>{{ page.metadata.language_info.codemirror_mode.version }}</b>{% endif %}</li>
    </ul>
{% endblock %}
{% endif %}

{% block content %}
    {% include page.html %}
{% endblock %}