{% extends "base.html" %}
{% block title %}{{ block.super }} - Contact{% endblock %}
{% block page_id %}page-contact{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block content_header %}
    <h1><a href="{% url "blog" %}">Let's talk</a></h1>
    <p>Whether it's to discuss a project, ask a question or just say hey — I'd love to hear from you! I respond to every
        message.</p>
{% endblock %}

{% block content %}
    <ul class="contact-listing">
        <li>
            <h3>Drop me a line</h3>
        </li>
        <li>
            <a href="skype:ferdezz?chat">
                <i class="fa fa-3x fa-skype fa-pull-left"></i>
                <strong>ferdezz</strong>
            </a>
        </li>
        <li>
            <a href="mailto:%72ootx@rootxnet.%63om">
                <i class="fa fa-3x fa-envelope fa-pull-left"></i>
                <strong>rootx@rootxnet.com</strong>
            </a>
        </li>
    </ul>
    {% if message_sent %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Message sent successfully, I will get back to you soon!
        </div>
    {% else %}
        <div id="form-contact">
            <h3>Send me a message</h3>
            <p>Please note that all fields are required.</p>

            <br/>

            <form method="post" action=".">
                {% for field in form %}
                    {% include "contactform/_field.html" %}
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Send</button>
            </form>
        </div>
    {% endif %}
{% endblock %}